@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

html { 
  background: url('/bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.quiter-btn {
  border: 2px solid white !important;
}

.whole-game {
 padding: 15px;
 padding-bottom: 50px;
 height: 100%;
}

body {
 text-align: center;
 text-transform: capitalize;
}

.bar-container {
  display: inline-block;
  width: 150px;
  height: 350px;
  background-image: linear-gradient(to bottom, #27ae60,#f1c40f,#c0392b)
}

.answer-button {
  width: 100px;
  height: 100px;
  margin: 10px;
  background-color: #ffffff00;
  border: none;
}

.figure {
  width: 80px;
  height: 80px;
  background-color: #dbe75f;
  padding: 10px;
  border-radius: 10px;
}

.color {
  width: 100px;
  height: 100px;
}

.emoji {
  width: 100px;
  height: 100px;
}

.game-title {
  font-family: 'Orbitron', sans-serif;
  padding-top: 40px;
  color: white;
  text-shadow: 2px 2px 2px #37527b;
}

.game-lobby {
  padding: 40px;
}

.room-item {
  padding: 10px 10px 25px;
  margin-bottom: 20px;
  background-color: #72eed0 !important;
  border: 2px solid #312033;
}

.add-room-btn {
  padding: 15px !important;
  margin-top: 17px !important;
}

.game-type {
  display: inline-flex !important;
  margin-top: 16px !important;
}

.join-room-btn {
  width: 120px !important;
}

.game-text {
  color: white;
  text-shadow: 6px 2px 6px #162855;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.left-img {
  max-width: 250px;
}

.your-answer {
  font-size: 4em;
  display: inline;
}

.others-answer {
  font-size: 4em;
}

.number-choice {
  font-size: 5em;
  color: white;
  width: 90%;
  background-color: #c3422c;
  display: block;
  border-radius: 50%;
  border: 2px solid white;
}

.number-choice-selected {
  margin-left: 35%;
  padding-top: 15px;
  padding-bottom: 4px;
  font-size: 55px;
  color: white;
  width: 85px;
  background-color: #c3422c;
  display: block;
  border-radius: 50%;
  border: 2px solid white;
}